# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main
cgen_main
test_main
test_debug_main

# bison/flex生成物
*.dSYM
src/parser.c
src/parser.h
src/lexer.c

# その他
*~
.DS_Store
*.output

# debug information files
*.dwo
